*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/Manifest.toml
/dev/
/docs/build/
/test/data/run_seismonitoring_test_INPUT
/test/data/run_seismonitoring_test_OUTPUT
/test/data/run_seismonitoring_test_dvvdqq.csv
/test/data/run_seismonitoring_test_MWCS.csv
/test/data/run_seismonitoring_test_Stretching.csv
